epd07/ej1/web/WEB-INF/wsdl/GeneradorPassword_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://webService/" xmlns:tns="http://webService/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="generatorPass" type="tns:generatorPass"/>

  <xs:element name="generatorPassResponse" type="tns:generatorPassResponse"/>

  <xs:complexType name="generatorPass">
    <xs:sequence>
      <xs:element name="pass" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="generatorPassResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

