epd07/p6/web/META-INF/ServicioAutenticacion.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. -->
<definitions targetNamespace="http://paquete/" name="servicioAutenticacion" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://paquete/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://paquete/" schemaLocation="ServicioAutenticacion_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="isAlive">
    <part name="parameters" element="tns:isAlive"/>
  </message>
  <message name="isAliveResponse">
    <part name="parameters" element="tns:isAliveResponse"/>
  </message>
  <message name="login">
    <part name="parameters" element="tns:login"/>
  </message>
  <message name="loginResponse">
    <part name="parameters" element="tns:loginResponse"/>
  </message>
  <message name="logout">
    <part name="parameters" element="tns:logout"/>
  </message>
  <message name="logoutResponse">
    <part name="parameters" element="tns:logoutResponse"/>
  </message>
  <message name="usersRegistered">
    <part name="parameters" element="tns:usersRegistered"/>
  </message>
  <message name="usersRegisteredResponse">
    <part name="parameters" element="tns:usersRegisteredResponse"/>
  </message>
  <portType name="ServicioAutenticacion">
    <operation name="isAlive">
      <input wsam:Action="http://paquete/ServicioAutenticacion/isAliveRequest" message="tns:isAlive"/>
      <output wsam:Action="http://paquete/ServicioAutenticacion/isAliveResponse" message="tns:isAliveResponse"/>
    </operation>
    <operation name="login">
      <input wsam:Action="http://paquete/ServicioAutenticacion/loginRequest" message="tns:login"/>
      <output wsam:Action="http://paquete/ServicioAutenticacion/loginResponse" message="tns:loginResponse"/>
    </operation>
    <operation name="logout">
      <input wsam:Action="http://paquete/ServicioAutenticacion/logoutRequest" message="tns:logout"/>
      <output wsam:Action="http://paquete/ServicioAutenticacion/logoutResponse" message="tns:logoutResponse"/>
    </operation>
    <operation name="usersRegistered">
      <input wsam:Action="http://paquete/ServicioAutenticacion/usersRegisteredRequest" message="tns:usersRegistered"/>
      <output wsam:Action="http://paquete/ServicioAutenticacion/usersRegisteredResponse" message="tns:usersRegisteredResponse"/>
    </operation>
  </portType>
  <binding name="ServicioAutenticacionPortBinding" type="tns:ServicioAutenticacion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="isAlive">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="login">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="logout">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="usersRegistered">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="servicioAutenticacion">
    <port name="ServicioAutenticacionPort" binding="tns:ServicioAutenticacionPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

